:root {
  --primary: #123456;
  --blue:  hsl(223, 96%, 54%);
  --green:  hsl(115, 61%, 54%);
  --red:   hsl(355, 95%, 62%);
  --yellow:     hsl(46, 98%, 51%);

  --urem-100: 0.25rem;
  --urem-250: 0.25rem;
  --urem-500: 0.50rem;
  --urem-750: 0.75rem;

  --gray-000: #fafafa;
  --gray-100: #8e8f91;
  --gray-200: #747477;
  --gray-300: #616264;
  --gray-400: #1e2023;
  --gray-500: #18191c;
  --gray-600: #141417;
  --gray-900: #000;
  font-size: 1em;
}

#app{
  flex:1;
  display:flex;
}
*{
  font-family: 'Open Sans', sans-serif;
}
body {
  overflow:hidden;
  display:flex;
  height:100vh;
  height:100dvh;
  color: var(--gray-100);
  background-color: var(--gray-600);
  margin: 0;
  font-size: large;
  font-weight: 400;
}
dl,ul,ol{
  margin:0;
  padding:0;
}
h1,h2,h3,h4,h5{
  padding:0;
  margin:0;
}
